@media(max-width:1400px) {
    .page-width {
        padding: 0px 40px;
    }

    .wellness-section-inner {
        display: grid;
        grid-template-columns: 32% 41%;
        gap: 241px;
    }
}

@media(max-width: 992px) {

    .page-width {
        padding: 0px 20px;
    }

    .header-navigation {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .banner-content-inner.color-scheme-1.flex.column {
        top: 56%;
    }

    .grid-col-2-tablet .grid-item {
        width: calc(50% - 50px);
        max-width: calc(50% - 50px);
    }

    ul.categories-inner-content.grid.grid-col-2-tablet {
        justify-content: center;
    }

    .grid-col-3-tablet .grid-item {
        width: calc(33.3% - 20px);
        max-width: calc(33.3% - 20px);
    }

    .wellness-media {
        display: none;
    }

    .wellness-section-inner {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
    }

    .blog-card::after {
        display: none;
    }

    .header-inner {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header-logo {
        display: flex;
        justify-content: center;
    }

    .banner-content-inner h3 {
        font-size: 28px;
    }

    .banner-media img {
        object-fit: cover;
        width: 100%;
        aspect-ratio: 1/1;
        max-height: 600px;
        object-position: bottom;
    }

    .banner-section-title h3 {
        font-size: 28px;
        max-width: 400px;
    }

    .banner-content-inner.color-scheme-1.flex.column {
        color: var(--color-forgrade);
    }

    ul.footer-content {
        display: flex;
        flex-wrap: wrap;
    }

    a.primary-button {
        padding: 10px 14px;
        font-size: 12px;
    }

    .blog-cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }

    .grid-col-2-dekstop .grid-item {
        width: calc(100% - 0px);
        max-width: calc(100% - 0px);
    }

    ul.image-with-text-content.grid {
        flex-direction: column-reverse;
    }

    .header-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul.customer-review-content {
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
    }

    .blog-title::before,
    .blog-title::after {
        width: 40px;
    }

    .blog-title {
        font-size: 30px;
    }

    li.scrolling-image-content.grid-item.flex.column {
        flex-direction: row;
        gap: 10px;
    }

    .hamburger {
        display: flex;
    }
}

@media(max-width: 750px) {

    .page-width {
        padding: 0px 15px;
    }

    .grid-col-2-mobile .grid-item {
        width: calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    .swiper-slide img {
        aspect-ratio: 1/1;
    }

    .popup-content,
    .message-popup {
        max-width: 65%;
    }

    .content-item.flex.column {
        gap: 10px;
        padding: 10px 0px;
    }

    ul.text-content-inner.flex.column {
        gap: 2px;
    }

    .title {
        font-size: 28px;
    }

    .riched-text-content h3 {
        font-size: 20px;
    }

    .category-media img {
        aspect-ratio: 4/5;
    }

    p {
        font-size: 12px;
    }

    i .blog-card h3 {
        font-size: 16px;
    }

    .banner-text.flex.column {
        gap: 10px;
    }

    .blog-card p {
        font-size: 12px;
    }

    .insta-feed-text h3 {
        font-size: 20px;
    }

    .footer-bottom-content.flex {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .reveiw-content h4 {
        font-size: 16px;
    }

    .payment-icon.flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banner-content-inner.color-scheme-1.flex.column {
        top: 62%;
    }

    .privacy-and-sercives.flex {
        justify-content: center;
    }

    .blog-cards {
        grid-template-columns: 1fr;
    }

    .blog-title::before,
    .blog-title::after {
        display: none;
    }

    .blog-title {
        padding: 0;
    }
}